/* Color Theme Swatches in Hex */
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-1-hex { color: #0C0B0D; }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-2-hex { color: #222026; }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-3-hex { color: #F2F2F0; }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-4-hex { color: #8C8380; }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-5-hex { color: #D9D0D0; }

/* Color Theme Swatches in RGBA */
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-1-rgba { color: rgba(12, 11, 12, 1); }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-2-rgba { color: rgba(33, 31, 38, 1); }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-3-rgba { color: rgba(242, 241, 239, 1); }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-4-rgba { color: rgba(140, 130, 127, 1); }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-5-rgba { color: rgba(216, 208, 208, 1); }

/* Color Theme Swatches in HSLA */
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-1-hsla { color: hsla(275, 6, 4, 1); }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-2-hsla { color: hsla(258, 9, 13, 1); }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-3-hsla { color: hsla(45, 8, 94, 1); }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-4-hsla { color: hsla(16, 5, 52, 1); }
.A-vibrant-new-flavour-for-chocolate-experts-Bahen_Co-5-hsla { color: hsla(0, 10, 83, 1); }