//.modal {
//  background: $whiteContrast;
//  border-radius: 50px;
//  position: fixed;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  width: calc(100% - 80px);
//  height: calc(100% - 80px);
//  margin: 40px;
//  transition: 0.2s linear;
//  border: 10px solid #fff;
//}
//.modal-project {
//
//}
//.modal-bg {
//  position: fixed;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  background: rgba(0,0,0,0.8);
//}
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  transition: .3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  text-align: center;
  padding: 30px;
  border-radius: 25px;
  background: $blackContrast;
  transition: 0.3s all;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: $whiteContrast;
  cursor: pointer;
}

.modal__title {
  color: $whiteContrast;
  font-family: $additionalFont;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0 20px 0 20px;
}
