* {
  margin: 0;
  padding: 0;
}

*::selection {
  color: #222026;
  background: #f2f2f0;
}

body {
  background: #f2f2f0;
}

/* TEXT */
.text-main {
  color: #222026;
  background: #f2f2f0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-align: center;
}

.text-additional {
  color: #f2f2f0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0 20px 0 20px;
  transition: 0.3s linear;
}

.text-additional:hover {
  background: #812f33;
}

.footer-text {
  margin-bottom: 10px;
  color: #f2f2f0;
  background: #222026;
  font-size: 16px;
  font-weight: 800;
}

.about-text {
  margin-top: 30px;
}

.feedback-text {
  margin-top: 40px;
}

.project-text {
  margin-bottom: 20px;
  opacity: 0.7;
}

.project-text:hover {
  opacity: 1;
}

/* SECTIONS */
.section {
  background: #222026;
  height: 600px;
  min-height: 600px;
  border-radius: 50px;
  margin: 40px;
  transition: 0.2s linear;
}

.section:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 -10px 10px rgba(0, 0, 0, 0.22);
}

.section-2 {
  background: #222026;
  height: 600px;
  border-radius: 50px;
  transition: 0.2s linear;
}

.section-2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 -10px 10px rgba(0, 0, 0, 0.22);
}

.photo-section {
  height: 600px;
  margin: 40px;
}

.feedback {
  width: 100%;
}

.footer {
  height: 600px;
}

.project-section {
  background: #222026;
  height: calc(100% - 80px);
  min-height: 600px;
  border-radius: 50px;
  margin: 40px;
  width: calc(100% - 80px);
}

.project-1 {
  width: 300px;
  height: 400px;
  border-radius: 50px;
  transition: 0.2s linear;
  background: url("/site.png") center no-repeat;
  background-size: cover;
}

.project-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 -10px 10px rgba(0, 0, 0, 0.22);
}

.project-in-construct {
  width: 300px;
  height: 400px;
  border-radius: 50px;
  transition: 0.2s linear;
}

.project-in-construct:hover {
  box-shadow: 0 14px 28px rgba(129, 47, 51, 0.25), 0 -10px 10px rgba(129, 47, 51, 0.22);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
}

.flex-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex-6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
}

.ide {
  background: url("/img/ide-1.png") center no-repeat;
  background-size: cover;
}

/*INTERACTIVE ELEMENTS*/
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin-top: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 30px;
  transition: 0.2s linear;
}

.btn:hover {
  cursor: pointer;
  background: #812f33;
  color: #f2f2f0;
}

.circle-1 {
  margin: 20px;
  width: 150px;
  height: 150px;
  border: #f2f2f0;
  border-radius: 50%;
  background: url("/img/vk.jpg") center no-repeat;
  background-size: cover;
  transition: 0.3s ease;
}

.circle-1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.circle-2 {
  margin: 20px;
  width: 150px;
  height: 150px;
  border: #f2f2f0;
  border-radius: 50%;
  background: url("/img/hh.svg") center no-repeat;
  background-size: cover;
  transition: 0.3s ease;
}

.circle-2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

/* ADAPTIVE LAYOUT */
@media screen and (max-width: 600px) {
  .flex-3 {
    width: 100%;
  }

  .flex-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section {
    height: auto;
  }

  .section-2 {
    margin: 40px;
  }

  .photo-section {
    height: auto;
  }

  .text-main {
    width: auto;
  }

  .flex-5 {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .circle {
    width: 100px;
    height: 100px;
  }

  .flex-2 {
    height: auto;
    min-height: 600px;
  }

  .flex-6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 25px;
  background: #222026;
  transition: 0.3s all;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #f2f2f0;
  cursor: pointer;
}

.modal__title {
  color: #f2f2f0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0 20px 0 20px;
}

/*# sourceMappingURL=main.css.map */
