$blackContrast: #222026;
$whiteContrast: #f2f2f0;
$redContrast: #812f33;
$mainFont: 'Raleway', sans-serif;
$additionalFont: 'Open Sans', sans-serif;
$sectionShadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 -10px 10px rgba(0, 0, 0, 0.22);

* {
  margin: 0;
  padding: 0;
}

*::selection {
  color: $blackContrast;
  background: $whiteContrast;
}

body {
  background: $whiteContrast;
}

/* TEXT */
.text-main {
  color: $blackContrast;
  background: $whiteContrast;
  font-family: $mainFont;
  font-weight: 500;
  text-align: center;
}

.text-additional {
  color: $whiteContrast;
  font-family: $additionalFont;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0 20px 0 20px;
  transition: 0.3s linear;
}

.text-additional:hover {
  background: $redContrast;
}

.footer-text {
  margin-bottom: 10px;
  color: $whiteContrast;
  background: $blackContrast;
  font-size: 16px;
  font-weight: 800;
}

.about-text {
  margin-top: 30px;
}

.feedback-text {
  margin-top: 40px;
}

.project-text {
  margin-bottom: 20px;
  opacity: 0.7;
}

.project-text:hover {
  opacity: 1;
}

.logo {
}

.logo:hover {
}

/* SECTIONS */

.section {
  background: $blackContrast;
  height: 600px;
  min-height: 600px;
  border-radius: 50px;
  margin: 40px;
  transition: 0.2s linear;
}

.section:hover {
  box-shadow: $sectionShadow;
}

.section-2 {
  background: $blackContrast;
  height: 600px;
  border-radius: 50px;
  transition: 0.2s linear;
}

.section-2:hover {
  box-shadow: $sectionShadow;
}

.photo-section {
  height: 600px;
  margin: 40px;
}

.feedback {
  width: 100%;
}

.footer {
  height: 600px;
}

.project-section {
  background: $blackContrast;
  height: calc(100% - 80px);
  min-height: 600px;
  border-radius: 50px;
  margin: 40px;
  width: calc(100% - 80px);
}

.project-1 {
  width: 300px;
  height: 400px;
  border-radius: 50px;
  transition: 0.2s linear;
  background: url("/site.png") center no-repeat;
  background-size: cover;
}

.project-1:hover {
  box-shadow: $sectionShadow;
}

.project-in-construct {
  width: 300px;
  height: 400px;
  border-radius: 50px;
  transition: 0.2s linear;
}

.project-in-construct:hover {
  box-shadow: 0 14px 28px rgba(129, 47, 51, 0.25), 0 -10px 10px rgba(129, 47, 51, 0.22);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);

}

.flex-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex-6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
}
.ide {
  background: url("/img/ide-1.png") center no-repeat;
  background-size: cover;
}
/*INTERACTIVE ELEMENTS*/
.btn {
  font-family: $additionalFont;
  font-size: 17px;
  font-weight: bold;
  margin-top: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 30px;
  transition: 0.2s linear;
}

.btn:hover {
  cursor: pointer;
  background: $redContrast;
  color: $whiteContrast;
}

.circle-1 {
  margin: 20px;
  width: 150px;
  height: 150px;
  border: $whiteContrast;
  border-radius: 50%;
  background: url("/img/vk.jpg") center no-repeat;
  background-size: cover;
  transition: 0.3s ease;
}

.circle-1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.circle-2 {
  margin: 20px;
  width: 150px;
  height: 150px;
  border: $whiteContrast;
  border-radius: 50%;
  background: url("/img/hh.svg") center no-repeat;
  background-size: cover;
  transition: 0.3s ease;
}

.circle-2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

/* ADAPTIVE LAYOUT */
@media screen and (max-width: 600px) {
  .flex-3 {
    width: 100%;
  }
  .flex-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section {
    height: auto;
  }
  .section-2 {
    margin: 40px;
  }
  .photo-section {
    height: auto;
  }
  .text-main {
    width: auto;
  }
  .flex-5 {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .circle {
    width: 100px;
    height: 100px;
  }
  .flex-2 {
    height: auto;
    min-height: 600px;
  }
  .flex-6 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@import "modal";